
@keyframes loadingcolorflag {
  50%  {fill: grey }
}

// non-svg objects in svg
foreignObject > body {
  overflow: visible;
}

// header
.helperButton {
  width: 20px;
  height: 20px;
}
.helperButton path {
  fill: rgba(39, 37, 37, 0.71);
}

// brush selection
.selectionRect {
  fill: rgba(0,0,0,0.15);
  fill-opacity: .5;
}
.brush .selection{
  stroke: #fff;
  fill: #4682b4;
  fill-opacity: .125;
  shape-rendering: crispEdges;
  display: block;
  height: 100%;
}

// fv buttons
.mybutton {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  background: darkgrey;
  border: none;
  color: rgb(0,0,0);
  height: 30px;
  min-width: 36px;
  outline: none;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
  overflow: visible !important;
}
.mybuttonsquare {
  border-radius: 0px;
  font-size: 12px;
  height: 30px;
  cursor: default;
  margin: auto;
  min-width: 30px;
  width:70px;
  font-family:'Roboto';
  font-size:10px;
  background: white;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  line-height: normal
}
.mybuttoncircle {
  border-radius: 50%;
  font-size: 12px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  background: white;
  line-height: normal
}
// fv axis
.axis {
  font: 14px sans-serif;
}
// fv flags
.Arrow {
  fill-opacity: 0.6;
}
// fv tooltips
.fvtooltip {
  position: absolute;
  text-align: center;
  color: white;
  width: auto;
  height: auto;
  padding: 2px;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  font-weight: normal;
  background-color:rgba(0, 0, 0, 0.7);
  border: 0px;
  border-radius: 4px;
  pointer-events: none;

}

// fv custom tooltips
.fvcustomtooltip {
  position: absolute;
  text-align: center;
  color: white;
  height: auto;
  background-color:rgba(0, 0, 0, 0.7);
  pointer-events: none;

}


// loading
.pageoverlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.rectfvText {
  text-align: center;
}