<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div style="display: inline">
      <div
        style="max-width: 1000px; border-style: solid; border-color: lightgray; border-width: 1px; margin:5em"
        id="myfv"
      ></div>
    </div>
    <script>
      const proteinsequence =
        "MTKFTILLISLLFCIAHTCSASKWQHQQDSCRKQLQGVNLTPCEKHIMEKIQGRGDDDDDDDDDNHILRTMRGRINYIRRNEGKDEDEE";
      const fv = new FilFV_main.FeatureViewer(proteinsequence, "#myfv", {
        showAxis: true,
        showSequence: true,
        toolbar: true,
        toolbarPosition: "left",
        zoomMax: 10,
        flagColor: "#DFD5F5",
        flagTrackMobile: 75
      });

      fv.addFeatures([
        {
          // simple rect
          type: "rect",
          id: "useUniqueId",
          label: "use Unique Id",
          mobile_label : "U",
          data: [
            {
              x: 50,
              y: 78,
              tooltip: '<button class="myButton">Button</button>',
            },
          ],
        },
        {
          // circles
          type: "circle",
          id: "mycircle",
          label: "Circle feature",
          mobile_label : '<span style="font-size:x-small">&#9898</span>',
          data: [
            { x: 10, y: 100 },
            { x: 50, y: 70 },
            {
              x: 40,
              y: 60,
              color: "#00ac8f",
              tooltip: "I have different color",
            },
          ],
          color: "#61795e",
        },
        {
          // curve (height and yLim) with tooltip and subfeatures
          type: "curve",
          id: "mycurve",
          label: "Curve label",
          mobile_label : "C",
          data: [
            { x: 1, y: 0 },
            { x: 40, y: 102 },
            { x: 80, y: 5 },
            { x: 50, y: 184 },
            { x: 75, y: 4 },
          ],
          height: 1,
          yLim: 200,
          color: "#00babd",
          tooltip:
            '<b>Very</b> <span style="color: #C21F39">Stylable</span> <b><i><span style="color: #ffc520">Tooltip </span></i></b>',
          subfeatures: [
            {
              type: "rect",
              data: [
                { x: 20, y: 30 },
                { x: 15, y: 45 },
                { x: 70, y: 76, label: "MyRect", tooltip: "myTooltip" },
              ],
              id: "aDifferentId",
              label: "I am a subfeature!",
              mobile_label: "Sub",
            },
          ],
        },
      ]);
      fv.resizeViewer();
    </script>
  </body>
</html>
